.search-pg {
    display: flex;
    flex-direction: column;
    .br {
        height: 10vh;
        border-bottom: 1px solid #eaeaea;
    }
    .map-ctnr {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        .map {
            border-radius: 5px;
            height: calc(90vh - 2.1rem);
            width: calc(100vw - 2rem);
        }
    }
}
