.wrapper {
    background: #efeeee;
    height: 5rem;
    width: 100%;
    .input_area {
        .srch-fld {
        }
        .btn {
          height: 2rem;
    width: 5rem;
            border-radius: 33px;
            background: #efeeee;
            box-shadow: 22px 22px 44px #ffffff, -22px -22px 44px #e9e9e9;
        }
    }
    .rdo_gp {
    }
}
