.wrapper {
    display: flex;
    // background: #efeeee;
    height: 100%;
    width: 100%;
    column-gap: 2rem;
    align-items: center;
    justify-content: center;
    .input_area {
        display: flex;
        flex-direction: column;
        // width: 50%;
        justify-content: center;
        .inp {
            display: flex;
            align-items: center;
            .srch-fld {
                display: flex;
                align-items: center;
                background: #fbfbfb;
                border: 1px solid #e3e3e3;
                border-radius: 8px;
                width: 5rem;
                height: 28px;
                outline: none;
            }
            .km {
            }
        }
        .txt {
            font-size: 14px;
        }
    }
    .filter {
        display: flex;
        flex-direction: column;
        // width: 50%;
        justify-content: center;

        .txt {
            font-size: 14px;
        }
        .rdo-gp {
            justify-content: flex-start;
            display: flex;
            align-items: center;
            column-gap: 2rem;
            ::ng-deep .mat-checkbox .mat-checkbox-frame {
                border-color: black;
                background-color: #dddddd;
            }

            ::ng-deep
                .mat-checkbox
                .mat-checkbox-layout
                .mat-checkbox-inner-container {
                height: 24px;
                width: 24px;
            }

            ::ng-deep
                .mat-checkbox-indeterminate.mat-accent
                .mat-checkbox-background,
            .mat-checkbox-checked.mat-accent .mat-checkbox-background {
                margin-top: 1px;
                margin-left: 1px;
                width: 18px;
                height: 18px;
            }
        }
    }
}
::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: black;
    background-color: #dddddd;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    margin-top: 1px;
    margin-left: 1px;
    width: 18px;
    height: 18px;
}
